<aside class="sidebar">
<div class="sidebar-div inner">
  <img class="profile-image" src="{{@blog.logo}}" alt="" />
  <!--
  // to display a custom image, copy the image into assets/img/profile-img.png and replace the previous line with this:
  <img class="profile-image" src="{{asset "img/profile-image.png"}}" alt="" />
  -->

  
  <section class="publisher">by <strong>peterge</strong></section>
  
  <!--
  // Add any other links to the sidebar, under the navigation links here.
  // For example to allow subscribing to your blog via Feedburner and email:
    1. register it at feedburner.com and
    2. change the below links to point to your blog
    3. uncomment these lines:
    <ul>
      <li><a href="http://feeds.feedburner.com/ThePragmaticEngineer" class="elusive-icon rss">Subscribe in a reader</a></li>
      <li><a href="http://feedburner.google.com/fb/a/mailverify?uri=ThePragmaticEngineer&amp;loc=en_US" class="elusive-icon email">Subscribe via email</a></li>
    </ul>
   -->

  <div class="tags-sidebar">
        <div class="a">
                <section class="donate">
			<a href="https://ts.la/peter640134"">Tesla referral link</a>
			<br>
                        <a href="https://liberapay.com/peterge/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
                </section>
        </div>
        <div class="a">
		Recommended articles:
		<ol type="i">
			<li><a href="https://blog.peterge.de/caddy-docker-dns-netcup/">Caddy in Docker: HTTPS via Let's Encrypt with Netcup DNS API</a></li>
			<li><a href="https://blog.peterge.de/uptime-kuma/">Monitoring Tool | Uptime Kuma</a></li>
			<li><a href="https://blog.peterge.de/chimeraos/">ChimeraOS | Steam, Epic, GOG, retro consoles, and more... all from your couch</a></li>
			<li><a href="https://blog.peterge.de/grapheneos-auf-pixel7-installieren/">Installation von GrapheneOS auf einem Pixel 7</a></li>
			<li><a href="https://blog.peterge.de/lpic1/">Meine LPIC-1 Zertifizierung: 101-500 und 102-500</a></li>
		</ol>
	</div>
	<p></p>
	<div class="a">
		Tags:<br>
		{{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
		{{#foreach tags}}
			<a href='{{ url }}'>{{ name }}({{ count.posts }})</a>
		{{/foreach}}
	{{/get}}
  </div>

    <footer class="site-footer">
  <!--
  // Disable Subscribe Button
  //        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a> 
  -->
        <div class="a">
             <section class="copyright">All content copyright by <a href="/">blog.peterge.de</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
             <section class="poweredby">Published with 
		<a class="icon-ghost" href="http://ghost.org"><span class="icon-ghost-text">Ghost</span></a>
		 and a  <a href="https://gitlab.com/peterge/blog.peterge.de-theme">heavily modified version</a> of <a href="https://github.com/mityalebedev/The-Shell">The Shell</a> theme.</section>
		<br>
             <section class="impressum"><a href="https://blog.peterge.de/impressum">Impressum</a>  <a href="https://blog.peterge.de/datenschutzerklarung">Datenschutzerklärung</a></section>
        </div>
    </footer>
</div>
</aside>
