<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="referrer" content="no-referrer">

    {{! Page Meta }}
    <title>blog.peterge.de</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <script src="{{asset "chart.js/Chart.js"}}"></script>

    <!-- FAVICON: -->
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "favicon/apple-touch-icon.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "favicon/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset "favicon/favicon-16x16.png"}}">
    <link rel="manifest" href="{{asset "favicon/site.webmanifest"}}">
    <link rel="mask-icon" href="{{asset "favicon/safari-pinned-tab.svg"}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">



    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">


          <div id="content-body"> {{! Blog content }}
    {{! Everything else gets inserted here }}
    {{{body}}}

<!--    <footer class="site-footer">
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
        <div class="inner">
             <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
             <section class="poweredby">Published with <a class="icon-ghost" href="http://ghost.org"><span class="icon-ghost-text">Ghost</span></a> and a  <a href="https://github.com/peterge1998/blog.peterge.de">heavily modified version</a> of the  <a href="https://github.com/mityalebedev/The-Shell">The Shell</a> theme.</section>
	     <section class="impressum"><a href="https://blog.peterge.de/impressum">Impressum</a>  <a href="https://blog.peterge.de/datenschutzerklarung">Datenschutzerklärung</a></section>
        </div>
    </footer>
            </div>
        </div>-->

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! Scripts }}
</body>
</html>
