{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head" {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}})"{{/if}}>
    <div class="vertical animated bounceInDown">
        <div id="site-head-content" class="inner">

            {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">blog.peterge.de</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">


    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <p class="post-meta-p"><span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>{{#if tags}}, tags:  {{tags}}{{/if}}</span></p>
	    <p class="post-readtime"><span class="post-readtime-span">{{reading_time}}</span></p>
	    <div style="clear: both;"></div>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}
</main>


{{> "sidebar"}}
