{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Each post has the blog logo at the top, with a link back to the home page }}
        <header class="post-header">
            <div class="inner">
<!-- OLD LOGO / TITLE
            <a id="blog-logo" href="{{@blog.url}}">
                {{#if @blog.logo}}
                    <img src="{{@blog.logo}}" alt="Blog Logo" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </a> -->

                {{> "site-nav"}}
            </div>
        </header>

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}
<!--        <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}}</span>
	<p class="post-readtime"><span class="post-readtime-span">{{reading_time}}</span></p> --!>

 <p class="post-meta-p"><span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>{{#if tags}}, tags:  {{tags}}{{/if}}</span></p>
            <p class="post-readtime"><span class="post-readtime-span">{{reading_time}}</span></p> 
            <div style="clear: both;"></div>


        <h1 class="post-title">{{{title}}}</h1>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

            {{#if primary_author}}
                <section class="author">
                    <h4>Author: {{primary_author.name}}</h4>
                    <p>{{primary_author.bio}}</p>
                </section>
            {{/if}}

            <section class="share">
                <h4>Contact:</h4>
<!--            Original "Share This" Section    
		<a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>-->

                <a class="icon-instagram" target="_blank" rel="noopener noreferrer" href="https://pixelfed.de/peterge">
                <i class="fab fa-instagram"></i>

		<a class="icon-at" target="_blank" rel="noopener noreferrer" href="mailto:mail@peterge.de">
                <i class="fas fa-at"></i>


		<a class="icon-mastadon" target="_blank" rel="noopener noreferrer" href="https://troet.cafe/@peterge">
		<i class="fab fa-mastodon"></i>

		</a>

            </section>

        </footer>

        {{/post}}

    </article>
</main>

{{> "sidebar"}}
